<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>
<form action="register" method="post">
    {%  csrf_token  %}
    <input type="text" name="username" placeholder="Enter your Username"><br><br>
    <input type="text" name="Firstname" placeholder="Enter your Firstname"><br><br>
    <input type="text" name="Lastname" placeholder="Enter your Lastname"><br><br>
    <input type="email" name="Email" placeholder="Enter your Email address"><br><br>
    <input type="password" name="Password" placeholder="Enter your password"><br><br>
    <input type="password" name="Password1" placeholder="confirm  your password"><br><br>
    <input type="submit">

</form>
{%  for msg in messages  %}
{{ msg }}
{% endfor %}
</body>
</html>